/* CSS Document */

.topic-banner{
	position: relative;
	overflow: hidden;
	color: white;
	text-shadow: -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black, 1px 1px 2px black; /* Adds text shadow effect, might need some rework */
	padding-bottom: 1.2em;
	padding-top: 1.2em;
}
.topic-banner-bg{
	background:url(computerboard.jpg) center/cover no-repeat;
	z-index: -1; /* This makes it so text & elements, appear above*/
	height: 100%;
	width: 100%;
	top: 0px;
	bottom:0px;
	filter: blur(1px);
	position: absolute;
	background-color: cornflowerblue; /*This is the color that goes over the image*/
	background-blend-mode: screen;
}
.cell-borders{
	border-style: solid;
	border-color: rgba(0,0,0,0.01);
}
.main-content{
	padding-top: 2em;
}
.grid-video-section{
	padding-top: 1.4em;
}

#test-video-border{
	color: blue;
}

.bottom-panel{
	background-color: lemonchiffon;
	/*box-shadow: 0px 0px 105px 45px rgba(44,140,255,0.90) Currently unused glow */
}

.bottom-panel-cells{
	background-color: lemonchiffon;
	background-blend-mode: multiply;
}

.company-icon{
	height: 11em;
	width: 14em;
	left:1em;
	top:0em;
	position: absolute;
}