/* CSS Document */

.topic-banner{
	position: relative;
	overflow: hidden;
}
.topic-banner-after{
	background:url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.goodfreephotos.com%2Falbums%2Fbusiness-and-technology%2Fmotherboard-with-lots-of-components.jpg&f=1&nofb=1&ipt=4abc491fe04986db483ac14501037f34aaed0ad5754d3c66a2868191aa32b479&ipo=images) center/cover no-repeat; /*This duckduckgo image is temp*/ /* This is the background image that goes below the color*/
	z-index: -1; /* This makes it so text & elements, appear above*/
	height: 100%;
	width: 100%;
	top: 0px;
	bottom:0px;
	filter: blur(4px);
	position: absolute;
	background-color: cornflowerblue; /*This is the color that goes over the image*/
	background-blend-mode: screen;
}

